In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2021-03-26 06:25:27,77.4840,-69.3632,-19.97,53,49,9.08
1,1,Angoram,PG,2021-03-26 06:25:27,-4.0625,144.0661,84.15,83,96,4.12
2,2,Garden City,US,2021-03-26 06:25:28,42.3256,-83.3310,46.00,93,90,11.50
3,3,Arraial Do Cabo,BR,2021-03-26 06:25:28,-22.9661,-42.0278,75.16,84,2,4.23
4,4,Cape Town,ZA,2021-03-26 06:21:54,-33.9258,18.4232,69.01,77,75,18.41

In [8]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Angoram,PG,2021-03-26 06:25:27,-4.0625,144.0661,84.15,83,96,4.12
3,3,Arraial Do Cabo,BR,2021-03-26 06:25:28,-22.9661,-42.0278,75.16,84,2,4.23
10,10,Rikitea,PF,2021-03-26 06:25:30,-23.1203,-134.9692,80.24,72,98,21.05
26,26,Piacabucu,BR,2021-03-26 06:25:35,-10.4056,-36.4344,76.73,83,79,8.05
27,27,Suba,PH,2021-03-26 06:25:36,10.8438,121.0102,83.19,76,99,18.43
31,31,Haimen,CN,2021-03-26 06:25:37,23.1935,116.6142,78.80,44,0,6.71
36,36,Busselton,AU,2021-03-26 06:25:39,-33.6500,115.3333,75.00,48,17,3.00
41,41,Kayes,ML,2021-03-26 06:25:40,14.0000,-11.0000,81.36,12,0,4.76
42,42,Butaritari,KI,2021-03-26 06:25:40,3.0707,172.7902,81.36,78,66,14.63
45,45,Vaini,TO,2021-03-26 06:25:41,-21.2000,-175.2000,77.00,94,75,8.05

In [18]:
preferred_cities_df.count()

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Angoram      PG     84.15  -4.0625  144.0661
3   Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
10          Rikitea      PF     80.24 -23.1203 -134.9692
26        Piacabucu      BR     76.73 -10.4056  -36.4344
27             Suba      PH     83.19  10.8438  121.0102
31           Haimen      CN     78.80  23.1935  116.6142
36        Busselton      AU     75.00 -33.6500  115.3333
41            Kayes      ML     81.36  14.0000  -11.0000
42       Butaritari      KI     81.36   3.0707  172.7902
45            Vaini      TO     77.00 -21.2000 -175.2000

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Angoram,PG,84.15,-4.0625,144.0661,
3,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
10,Rikitea,PF,80.24,-23.1203,-134.9692,Pension Maro'i
26,Piacabucu,BR,76.73,-10.4056,-36.4344,Piaçabuçu News
27,Suba,PH,83.19,10.8438,121.0102,Casita Bed and Grill
31,Haimen,CN,78.80,23.1935,116.6142,Jinghao Business Hotel
36,Busselton,AU,75.00,-33.6500,115.3333,Observatory Guest House
41,Kayes,ML,81.36,14.0000,-11.0000,
42,Butaritari,KI,81.36,3.0707,172.7902,Isles Sunset Lodge
45,Vaini,TO,77.00,-21.2000,-175.2000,Keleti Beach Resort

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))